footer {
  background-color: var(--dark-color);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @include breakPoints(mobile) {
    margin-bottom: 2em;
  }
  .wave {
    background-color: var(--white-color);
    @include breakPoints(mobile) {
      margin-bottom: 3em;
    }
  }
  section {
    display: flex;
    width: 80%;
    margin: 0 auto 2em;
    align-items: center;
    justify-content: space-between;
    @include breakPoints(mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
    img {
      width: 10em;
      @include breakPoints(mobile) {
        margin-bottom: 1.5em;
      }
    }
    ul {
      color: var(--blue-color);
      font-family: subFont;
      font-size: 1.5em;
      @include breakPoints(mobile) {
        margin-bottom: 1.5em;
      }
      li {
        color: var(--white-color);
        font-family: var(--main-font);
        display: flex;
        align-items: center;
        font-size: 0.8em;
        &:first-of-type {
          a {
            &:hover {
              color: blue;
            }
          }
        }
        &:nth-of-type(2) {
          a {
            &:hover {
              color: #d400ff;
            }
          }
        }
        &:nth-of-type(3) {
          a {
            &:hover {
              color: #00ff00;
            }
          }
        }
        &:nth-of-type(4) {
          a {
            &:hover {
              color: #ff004c;
            }
          }
        }
        a {
          color: var(--white-color);
          font-family: var(--main-font);
          display: flex;
          align-items: center;
          img {
            width: 1.2em;
            margin-right: 1em;
            @include breakPoints(mobile) {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  .copy-rights {
    width: 100%;
    background-color: var(--blue-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    p {
      color: var(--white-color);
      font-family: var(--main-font);
      font-size: 1.5em;
      a {
        color: var(--dark-color);
        animation: copyRights 1s infinite alternate;
        @keyframes copyRights {
          0% {
            transform: translateY(-5px);
          }
          100% {
            transform: translateY(5px);
          }
        }
      }
    }
  }
}
