footer {
  width: 100%;
  min-height: 15em;
  background-color: var(--dark-blue-color);
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 2em;
  .container {
    width: 80%;
    .icons {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakPoints(mobile) {
        flex-direction: column;
      }
      img {
        width: 15em;
        @include breakPoints(mobile) {
          width: 10em;
          margin-bottom: 1em;
        }
      }
      a {
        img {
          width: 3.5em;
          @include breakPoints(mobile) {
            width: 2em;
          }
          &:hover {
            transform: translateY(5px);
            @include breakPoints(mobile) {
              transform: none;
            }
            @include breakPoints(small) {
              transform: none;
            }
          }
        }
      }
    }
  }
  .copy-rights {
    background-color: #111111;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5em 0;
    p {
      color: var(--white-color);
      font-family: var(--sub-font);
      display: flex;
      align-items: center;
      a {
        margin-left: 1em;
        img {
          width: 1.5em;
          &:hover {
            transform: translateY(5px);
          }
        }
      }
    }
  }
}
