header {
  width: 100%;
  background-color: var(--light-blue-color);
  padding: 1em 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 7em;
    }
    nav {
      .listBtn,
      .cancelBtn {
        display: none;
        position: relative;
        width: 3em;
        cursor: pointer;
        @include breakPoints(mobile) {
          display: block;
        }
        @include breakPoints(small) {
          display: block;
        }
      }
      .cancelBtn {
        @include breakPoints(mobile) {
          display: none;
        }
        @include breakPoints(small) {
          display: none;
        }
      }
      ul {
        color: var(--white-color);
        display: flex;
        @include breakPoints(mobile) {
          flex-direction: column;
          align-items: center;
          display: none;
          position: absolute;
          top: 10%;
          left: 0;
          width: 100%;
          background-color: var(--dark-blue-color);
          animation: moving 0.5s;
          @keyframes moving {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        @include breakPoints(mobile) {
          top: 5.5em;
        }
        @include breakPoints(small) {
          flex-direction: column;
          align-items: center;
          display: none;
          position: absolute;
          top: 5.5em;
          left: 0;
          width: 100%;
          background-color: var(--dark-blue-color);
          animation: moving 0.5s;
          @keyframes moving {
            0% {
              opacity: 0;
            }
            100% {
              opacity: 1;
            }
          }
        }
        li {
          text-transform: uppercase;
          padding: 0 1em;
          cursor: pointer;
          user-select: none;
          &:hover {
            background-color: var(--white-color);
            color: var(--dark-blue-color);
          }
          @include breakPoints(mobile) {
            padding: 1em;
            &:hover {
              background-color: var(--white-color);
              color: var(--dark-blue-color);
            }
          }
          @include breakPoints(small) {
            padding: 1em;
          }
        }
      }
    }
  }
}

.change-language {
  width: 100%;
  position: fixed;
  top: 5.5em;
  z-index: 5;
  left: 0;
  background-color: var(--yellow-color);
  color: var(--dark-blue-color);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include breakPoints(mobile) {
      flex-direction: column-reverse;
    }
    .phone-email {
      display: flex;
      align-items: center;
      @include breakPoints(mobile) {
        display: none;
      }
      a {
        display: flex;
        align-items: center;
        margin: 0 0.5em;
        color: black;
        img {
          width: 2em;
          margin-right: 0.5em;
        }
      }
    }
  }
  #google_translate_element {
    span {
      display: none;
    }
    select {
      font-family: var(--main-font);
      color: var(--dark-blue-color);
      background-color: var(--white-color);
      outline: none;
      border: none;
      scrollbar-width: thin;
      scrollbar-color: var(--yellow-color) var(--white-color);
    }
  }
}
