.section-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0;
  section {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 0 3em;
    @include breakPoints(mobile) {
      flex-direction: column;
    }
    @include breakPoints(small) {
      flex-direction: column;
    }
  }
  img {
    width: 50em;
    transition: 1s;
    opacity: 0;
    @include breakPoints(mobile) {
      width: 100%;
    }
    @include breakPoints(small) {
      width: 80%;
    }
    @include breakPoints(medium) {
      width: 30em;
    }
  }
  article {
    padding: 0 1em;
    @include breakPoints(small) {
      width: 80%;
      margin: 0 auto;
    }
    p {
      width: 80%;
      font-size: 1.5em;
      font-family: var(--main-font);
      line-height: 1.5;
      margin-bottom: 2em;
      @include breakPoints(mobile) {
        width: 100%;
        font-size: 1.2em;
      }
      @include breakPoints(small) {
        width: 100%;
        font-size: 1.3em;
      }
      @include breakPoints(medium) {
        width: 100%;
      }
    }
    a {
      button {
        width: max-content;
        padding: 1em 1.5em;
        background-color: var(--red-color);
        color: var(--white-color);
        font-family: subFont;
        text-transform: capitalize;
        font-size: 1.2em;
        &:hover {
          background-color: var(--dark-color);
        }
        @include breakPoints(mobile) {
          width: 100%;
        }
      }
    }
  }
}
