:root {
  // colors------
  --dark-color: #080c24;
  --light-color: #494d62;
  --blue-color: #008eff;
  --red-color: #ea1e00;
  --white-color: #f3f3f3;
  // fonts---------
  --main-font: "PT Sans Narrow", sans-serif;
}
@font-face {
  font-family: subFont;
  src: url("../../fonts/VIP\ Rawy\ Regular\ Regular.ttf");
}
