:root {
  // fonts---------
  --main-font: "Noto Kufi Arabic", sans-serif;
  --sub-font: "Noto Serif", serif;

  // colors------
  --dark-blue-color: #21325e;
  --light-blue-color: #3e497a;
  --yellow-color: #f1d00a;
  --white-color: #f0f0f0;
}
